# Working with "sharma-kohli.csv" data set

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
pd.read_csv('/Users/mohit/Documents/matplotlib/datasets/sharma-kohli.csv')

   index  RG Sharma  V Kohli
0   2008        404      165
1   2009        362      246
2   2010        404      307
3   2011        372      557
4   2012        433      364
5   2013        538      639
6   2014        390      359
7   2015        482      505
8   2016        489      973
9   2017        333      308